@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;600&family=Montserrat:wght@200;400;700&family=Nunito:wght@400;700&family=Poppins:wght@300;500&family=Raleway:wght@400;500&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #183D3D;
}


.educacion-experiencia {
    display: flex;
    padding-top: 50px;
}

.portafolio{
    text-align: center;
    padding: 50px;
}



.card img {
    width: 100%;
    height: 300px;
}